@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

.foto {
  border-style: double;
}

.imagenPropiedades {
  border-style: double;
  color: black;
}

.fotoPrincipalBox {
  border-style: double;
  color: black;
}

.frutosSecos {
  border-style: double;
  color: black;
}

@keyframes movimiento {
  0% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(20px);
  }
  40% {
    transform: translateX(40px);
  }
  60% {
    transform: translateX(60px);
  }
  100% {
    transform: translateX(0px);
  }
}
.logo {
  animation-name: movimiento;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 5s;
  animation-delay: 2s;
}

/* index */
body {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
  background-color: rgb(232, 232, 170);
}

header {
  background-color: aliceblue;
  width: 100%;
  display: block;
  height: 50px;
  margin-bottom: 40px;
}

.nav-link {
  color: black;
}

.textInfo {
  text-align: left;
}

textarea {
  resize: none;
}

.textareaMsg {
  margin-top: 40px;
  height: 120px;
  padding-top: 20px;
  padding-left: 30px;
  font-size: 20px;
  padding-right: 30px;
}

.btn-submit {
  display: block;
  height: 40px;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: rgb(243, 211, 172);
  border-radius: 4px;
}
.btn-submit:hover {
  background-color: rgba(243, 211, 172, 0.732);
  cursor: pointer;
}

footer {
  color: brown;
  padding-top: 10px;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
}
footer p {
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 20px;
  font-weight: bold;
}
footer .redes-sociales {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
}
footer .redes-sociales li {
  display: inline-block;
  margin: 20px;
}
footer .redes-sociales li a i {
  margin: 2px;
}

.sectionHome {
  width: 100%;
  text-align: center;
}
.sectionHome .sectionHome2 {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.sectionHome .sectionHome2 .contenedorTitle {
  text-align: center;
}
.sectionHome .sectionHome2 .contenedorTitle .contenedorHome {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  gap: 10px;
}
.sectionHome .sectionHome2 .contenedorTitle .contenedorHome .ContenedorTextoHome .tituloprincipal {
  font-size: 60px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  background-position: center;
  display: flex;
  margin-bottom: 4px;
  padding-bottom: 4px;
}
.sectionHome .sectionHome2 .contenedorTitle .contenedorHome .ContenedorTextoHome .subtitulo {
  text-align: center;
  font-size: 30px;
  margin-top: 0%;
  padding-top: 0%;
}
.sectionHome .sectionHome2 .contenedorTitle .contenedorHome .logo {
  width: 150px;
  height: 150px;
  border-width: 10px;
  flex-direction: column-reverse;
  display: flex;
}
.sectionHome .sectionHome2 .contenedorTitle .contenedorTitle > * {
  display: inline-block;
  margin: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.fotoPrincipalBox {
  width: 90%;
  border-radius: 10px;
}

.reseña {
  color: black;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* recetas*/
.tipografia {
  font-family: "Merriweather", serif;
  text-align: center;
  color: brown;
  margin-bottom: 90px;
  margin-top: 60px;
  font-size: 30px;
}

.colorfondo {
  background-color: rgb(232, 232, 170);
}

#receta1 {
  width: auto;
}
#receta1 .contenedorRecetas {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}
#receta1 .contenedorRecetas .sopaContenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}
#receta1 .contenedorRecetas .sopaContenedor .box3 {
  font-size: 20px;
  text-align: center;
}
#receta1 .contenedorRecetas .sopaContenedor .box1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  color: black;
}
#receta1 .contenedorRecetas .sopaContenedor .box2 {
  margin-right: 10px;
  margin-left: 70px;
}
#receta1 .contenedorRecetas .sopaContenedor img {
  border-radius: 10px;
}
#receta1 .contenedorRecetas .sopaContenedor .foto {
  width: 300px;
  height: 250px;
  margin-top: 20px;
}

.videos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

/* beneficios*/
.tituloBolsa {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.tituloBolsa{
  font-size: 40px;
  color: brown;
}
.tituloBolsa .bolsaconcara {
  width: 250px;
  height: 250px;
}

.boxBeneficios {
  margin-left: 10%;
  margin-right: 10%;
}
.boxBeneficios{
  font-size: 20px;
  color:black;
}
.subtitulo1{
  font-size: 25px;
  color: brown;
}

/*alimentos*/

.noPuedeFaltar {
  text-align: left;
  font-size: 130%;
}

.frutosSecos {
  width: 50%;
  margin-bottom: 50px;
  border-radius: 10px;
  margin-top: 30px;
}

 

/*Propiedades*/
.title {
  color: brown;
  font-size: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.colorfondo {
  background-color: rgb(232, 232, 170);
}

.imagenes {
  display: flex;
  justify-content: space-around;
}
.imagenes .imagenPropiedades {
  width: 350px;
  height: 350px;
  border-radius: 10px;
  margin-top: 60px;
  margin-bottom: 100px;
}
/*productos*/

.contenedorProductos {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-gap:20px;
  margin-top: 80px;
 
}
.producto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center ;
}
.cajita{
  border-radius: 4px;
  background-color: beige;
}
.producto-imagen{
  max-width: 100%;
  border-radius: 10px;

}
.producto-detalles{
  padding: 20px;

}
.producto-titulo{
  font-size: 20px;
}
.producto-precio{
  font-size: 25px ;
}
.producto-agregar{
  border: 0;
  background-color: beige;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 20px;
  cursor: pointer;
  transition: 2s,color .2s;
}
.producto-agregar:hover{
  background-color: rgb(107, 181, 181);
}

/*Carrito*/

.contenedor-carrito{
  display: flex;
  flex-direction:column ;
  gap: 15px;
}
.carrito-vacio,
.carrito-comprado{
  background-color:rgb(139, 158, 180);
  padding: 20px;
  color: white;
  border-radius: 20px;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  
}
.carrito-productos{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.carrito-producto-imagen{
  width: 90px;
  border-radius: 25px;

}
.carrito-producto{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(198, 177, 144);
  padding: 20px;
  padding-right: 15px;
  border-radius: 15px;
}
.carrito-producto small{
  font-size: 10px;

}

.carrito-acciones{
  display: flex;
  justify-content: space-between;
}

.carrito-acciones-derecha{
  display: flex;

}
.carrito-acciones-total{
  display: flex;
  background-color: rgb(128, 158, 158);
  padding: 10px;
  color:white;
  text-transform: uppercase;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  gap: 10px;
}
#carrito-producto-comprar{
  border: 0;
  background-color:rgb(143, 87, 19);
  padding: 10px;
  border-radius: 10px;
  color:brown;
  text-transform: uppercase;
  cursor: pointer;
  border-top-right-radius:  10px;
  border-bottom-right-radius: 10px;
}
.ocultar{
  display: none;

  
}
/* html tablet 768px*/
@media screen and (max-width: 768px) {
  /*index*/
  .logo {
    width: 110px;
    height: 110px;
    border-width: 20px;
  }
  .fotoPrincipalBox {
    width: 100%;
  }
  .contenidoHome {
    padding: 20px;
  }
  .contenidoHome .textInfo {
    padding: 20px;
  }
  /*Recetas*/
  .sopaContenedor {
    margin-right: 5px;
    margin-left: 0;
  }
  .footer1 {
    text-align: center;
  }
  #receta1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #receta1 .box2 {
    font-size: small;
    padding-left: 0px;
  }
  #receta1 .foto {
    display: flex;
    justify-content: center;
    margin-right: 20px;
  }
  #receta1 .box1 {
    margin-top: 10px;
  }
  #receta1 .box3 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  .contenedorRecetas {
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .tipografia {
    margin-bottom: 20px;
  }
  /*alimentos*/
  .frutosSecos {
    width: 350px;
    margin-bottom: 50px;
  }
  /*Propiedades*/
  .title {
    margin-left: auto;
  }
  .imagenes {
    display: flex;
    justify-content: center;
  }
  .imagenes .imagenPropiedades {
    display: flex;
    justify-content: center;
    width: 500px;
    height: 500px;
    margin-top: 60px;
    margin-left: 0;
    margin-bottom: 20px;
  }
}
/*cel 500px*/
@media screen and (max-width: 500px) {
  .nav-link {
    color: black;
  }
  .nav.nav-tabs {
    flex-direction: column;
  }
  header {
    background-color: rgb(232, 232, 170);
    height: auto !important;
    display: flex;
    justify-content: center;
    letter-spacing: 3px;
    margin-top: 40px;
  }
  /*index*/
  .logo {
    width: 80px;
    height: 80px;
    border-width: 15px;
  }
  .contenedorHome {
    flex-direction: column;
  }
  .fotoPrincipalBox {
    width: 100%;
  }
  .tituloprincipal {
    font-size: 45px;
  }
  .subtitulo {
    font-size: 30px;
  }
  .textareaMsg {
    width: 0 auto;
  }
  textarea {
    width: 100%;
  }
  .tipografia {
    margin-bottom: 20px;
    margin-left: 40px;
  }
  .foto {
    display: flex;
    justify-content: flex-start;
  }
  /*recetas*/
  header {
    height: 80px;
  }
  #receta1 {
    width: 100%;
    margin: 0 auto;
  }
  #receta1 .contenedorRecetas {
    margin: 0 auto;
  }
  #receta1 .box2 {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
  }
  #receta1 .box2 .description {
    margin-right: 40px;
  }
  .videos {
    width: 250px;
    margin-left: 10px;
  }
  .tipografia {
    margin: 0 auto;
  }
  /*beneficios*/
  .tituloBolsa {
    flex-direction: column-reverse;
    margin-bottom: 40px;
  }
  .tituloBolsa .beneficios {
    font-size: 30px;
  }
  /*alimentos*/
  .frutosSecos {
    width: 350px;
  }
  .sectionHome2 {
    width: 300px;
  }
  .imagenes {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .imagenes .imagenPropiedades {
    width: 400px;
    height: 400px;
    margin-left: 0;
    margin-bottom: 20px;
    align-items: center;
  }
}
@media screen and (max-width: 412px) {
  .title {
    margin-left: 70px;
    font-size: 25px;
  }
  .imagenes .imagenPropiedades {
    width: 350px;
  }
  
}

/*# sourceMappingURL=estilos.css.map */
